<div class="container-up">
  <p>Write about your movies</p>
</div>

<div class="container-mid">
</div>

<div class="container d-flex justify-content-between">
  <p>My Lists</p>
  <%= link_to 'create a movie list', new_list_path, class: "btn btn-outline-secondary"%>
</div>

<div class="container-mid">
</div>

<div class="container">
  <div class="cards">

      <% @lists.each do |list| %>
        <%=link_to list_path(list) do %>
        <div  class='movie-card' style="background-image: url('<%= list.pic_url %>')">
          <p>
            <%= list.name %>
          </p>
        </div>
        <% end %>
      <% end %>

  </div>
</div>
