<div class="upcontainer">
<img src="https://www.wiwo.de/images/die-kinos-eroeffnen/27375084/3-format1007.jpg" alt="cinema">
</div>

<div>
  <div>
  <p>My Lists</p>
  <a href="">Create a movie list</a>
  </div>
</div>

<ul>
<% @lists.each do |list| %>
  <%=link_to list_path(list) do %>
    <li><%= list.name %></li>
  <% end %>
<% end %>
</ul>
