<div class="container-mid"></div>

<div class="container-background">
  <div class="container-list-img" style="background-image: url('<%= @list.pic_url %>')">
    <%= @list.name %>
  </div>

  <div class="container-mid"></div>

  <div class="container-mid-show">
    <button type="button" class="btn btn-outline-secondary" style="float: right">Add a moive</button>
  </div>

</div>
