.container {
  width: 1000px;
  margin: auto;
 }

.container-up {
  width: 1000px;

}

.container-mid {
 height: 25px;
}

.container-up img {
  width: 1000px;
  object-fit: cover;
  margin-left: 200px;
  height: 350px;
  background-position: center;
}

.container-list-img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  background-position: center;
}
